<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>O Hello</title>
  </head>
  <body>
    <% if defined? data %>
      <h1>Result:</h1>
      <pre>
<%= data %>
      </pre>
    <% end %>
    <form action="/orgs" method="get">
      <h1>GitHub Org Listinger</h1>
      <input type="text" name="username" placeholder="USERNAME"/>
      <input type="submit" value="List Orgs!"/>
    </form>
    <h1>WeirdProgram</h1>
    <a href="/compile">Compile It</a> | <a href="/java">Run It</a>
    <h1>Node JS thingy</h1>
    <a href='/node'>Run It</a>
  </body>
</html>
